<div class="mt-5">
    <a class="hover font-weight-bold h5" routerLink="/class-Create"
      >Add New Class</a
    >
  </div>
  <table class="table mt-1">
    <thead>
      <tr>
        <th scope="col">Subject</th>
        <th scope="col">Teacher</th>
        <th scope="col">Students</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let class of classes">
        <td>{{ class.subject }}</td>
        <td>{{class.teacher?.name}}</td>
        <td>{{class.students.length}}</td>
        <td>
          <a class="hover mr-2 text-info" routerLink="/class-details/{{ class.id }}">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              >info</mat-icon
            >
          </a>
          <a class="hover mr-2 text-danger" (click)="deleteClass(class.id)">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              >delete</mat-icon
            >
          </a>
          <a class="hover mr-2 text-success" routerLink="/class-Edit/{{ class.id }}">
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              >edit</mat-icon
            >
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div
    class="spinner-border text-warning h3 spinnerIcon"
    *ngIf="spinner == true"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  
