
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spinnerIcon
{
    position: absolute;
    left: 48%;
    top: 40%;
    width: 60px;
    height: 60px;
}

.lightGreenBtn{
  background-color: rgb(160, 216, 101);
}

.lightBlackBG{
  background-color: rgb(194, 194, 194);
}
